<div class="container text-center">
   <div class="d-flex align-items-center justify-content-center">
        <div>
            <h1 class="mb-3">404 Page not found</h1>
            <a href="/" class="btn btn-primary">Back to homepage</a>
        </div>
   </div>
</div>